body {
	background-color:#000;
	font-family:arial;
	color:white;
	margin:auto;
}

a{
	color:white;

}

a:hover{
	color:red;
	text-decoration:none;
}

.title{
	font-size:50px;
	text-align:center;
	letter-spacing:5px;
	font-weight:bold;
	padding:40px;
}

.book{
	width:600px;
	margin:auto;
	padding:10px;
}

img{
	width:100%;
}

.caption{
	font-size:12px;
	text-align:center;
	line-height:17px;
	letter-spacing:1px;
	color:red;
}

.buy{
	font-size:12px;
	top:10px;
	right:10px;
	line-height:17px;
	position:fixed;
}

.description{
	font-size:14px;
	font-weight:bold;
	text-align:left;
	bottom:0px;
	left:10px;
	width:270px;
	line-height:17px;
	position:fixed;
}

.colophon{
	font-size:12px;
	text-align:right;
	letter-spacing:1px;
	bottom:0px;
	right:10px;
	line-height:15px;
	position:fixed;
}

.popup1{

}

.popup2{

}

.popup3{

}